################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ESG_SOLUTION/ESG_SOLUTION.csproj
